.header {
    background: rgb(3, 3, 75);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}

.header-left {
    display: flex;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    align-items: center;
}

.header-right {
    display: flex;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: roboto, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.body {
    flex: 1;
    display: flex;
}

.container-1 {
    background: rgb(3, 3, 75);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;                                                                                        
    height: 300px;
}

.container-1-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    margin-left: 10px;
}

.container-1-right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.text {
    font-size: 32px;
    font-weight: bold;
    display: flex;
}

.subtext {
    font-size: 12px;
}

button {
    margin-top: 10px;
    background: rgb(95, 198, 233);
    border: none;
    border-radius: 8px;
    padding: 2px 16px;
}

.section-3 {
    background: whitesmoke;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-weight: bold;
    font-size: 21px;
}

.container-3 {
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 100px;
    height: 300px;
}

.images {
    max-width: 150px;
}

.container-4 {
    background: rgba(208, 214, 214, 0.973);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    font-size: 25px;
}

.testimonial {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
}